/* Genericos */
svg {
    width: 30px;
}
svg * {
    fill: $white;
}
button {
    background: none;
    border: none;
}
button:hover {
    cursor: pointer;
    animation: shake 0.2s ease-in forwards;
}
label {
    display: block;
}
input {
    display: block;
}
input:focus, textarea:focus {
    outline: none;
}
*::-webkit-scrollbar {
    width: 5px;
    padding: 1%;
}
*::-webkit-scrollbar-track {
    background: none;
}
*::-webkit-scrollbar-thumb {
    background: $primary-color;
    border-radius: 10px;
    height: 20px;
}
*::-webkit-scrollbar-thumb:hover {
    filter: brightness(0.8);
}
/* Animaciones */
@keyframes shake {
    0% {
        transform: scale(1) rotate(0deg);
    }
    25% {
        transform: scale(1.1) rotate(20deg);
    }
    75% {
        transform: scale(1.1) rotate(-20deg);
    }
    100% {
        transform: scale(1.1) rotate(0deg);
    }
}