:root {
    --darkerblue: #111727;
    --darkblue: #202737;
    --greyblue: #5e3751;
    --lightgreyblue: #969cac;
    --lightergreyblue: #bbc2d4;
    --main-color: #991f18;
    --white: #cbdbeb;
    --sahdow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
    --border: 2px solid rgba(0, 0, 0, 0.2);
}
body {
    background-color: var(--darkerblue);
    color: var(--white);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}
/* Genericos */
svg {
    width: 30px;
}
svg * {
    fill: var(--white);
}
button {
    background: none;
    border: none;
}
button:hover {
    cursor: pointer;
    animation: shake 0.2s ease-in forwards;
}
label {
    display: block;
}
input {
    display: block;
}
input:focus, textarea:focus {
    outline: none;
}
*::-webkit-scrollbar {
    width: 5px;
    padding: 1%;
}
*::-webkit-scrollbar-track {
    background: none;
}
*::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 10px;
    height: 20px;
}
*::-webkit-scrollbar-thumb:hover {
    background: var(--grey3);
}
/* Concrertos */
header {
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    border-bottom: var(--border);
    border-width: 3px;
}
header button:hover {
    animation: none;
}
header .logo {
    width: 50px;
    height: 50px;
}
.burger-button {
    position: relative;
    z-index: 30;
}
.burger-icon {
    width: 40px;
    height: 40px;
    /* background-color: yellow; */
    position: relative;
}
.burger-line {
    background-color: var(--white);
    width: 90%;
    height: 10%;
    border-radius: 50px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    transform-origin: center;
    animation: 0.3s ease-in forwards;
    animation-name: burger-open;
    animation-play-state: paused;
}
.burger-line:nth-child(1) {
    --start-y: 15%;
    --end-y: 50%;
    --start-rotation: 0deg;
    --end-rotation: 45deg;
}
.burger-line:nth-child(2) {
    --start-y: 50%;
    --end-y: 50%;
    --start-rotation: 0deg;
    --end-rotation: 45deg;
}
.burger-line:nth-child(3) {
    --start-y: 85%;
    --end-y: 50%;
    --start-rotation: 0deg;
    --end-rotation: -45deg;
}
.burger.opened .burger-line {
    animation-name: burger-open;
    animation-play-state: running;
}
.burger.closed .burger-line {
    animation-play-state: running;
    animation-name: burger-close;
}
@keyframes burger-open {
    0% {
        top: var(--start-y);
        transform: rotate(var(--start-rotation));
    }
    50% {
        top: var(--end-y);
        transform: rotate(var(--start-rotation));
    }
    100% {
        top: var(--end-y);
        transform: rotate(var(--end-rotation));
    }
}
@keyframes burger-close {
    0% {
        top: var(--end-y);
        transform: rotate(var(--end-rotation));
    }
    50% {
        top: var(--end-y);
        transform: rotate(var(--start-rotation));
    }
    100% {
        top: var(--start-y);
        transform: rotate(var(--start-rotation));
    }
}
.burger-menu {
    position: absolute;
    right: 0;
    top: 1%;
    bottom: 1%;
    width: 30%;
    background-color: var(--main-color);
    filter: brightness(0.9);
    border: var(--border);
    border-width: 5px;
    border-right: none;
    border-radius: 50px 0 0  50px;
    overflow: hidden;
    z-index: 20;
    transition: transform 0.3s ease-in;
    transform: translateX(100%);
}
.burger-menu-header {
    height: 4em;
    background-color: var(--main-color);
    filter: brightness(0.8);
    border-bottom: var(--border);
    border-width: 3px;
}
.burger.opened .burger-menu {
    transform: translateX(0);
}
main {
    position: relative;
}
.filter {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
.filter-content {
    height: 0;
    background-color: var(--lightergreyblue);
    border-inline: var(--border);
    border-width: 5px;
    transition: height 0.3s ease-in;
}
.filter.opened .filter-content {
    height: 80vh;
    transition: height 0.3s ease-in;
}
.filter button {
    width: 100%;
    background-color: var(--main-color);
    filter: brightness(0.9);
    margin: 0;
    padding: 0.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    --radius: 20px;
    border-radius: 0 0px var(--radius) var(--radius);
    border-bottom: var(--border);
    border-width: 3px;
    animation: none;
}
.filter .arrow-down {
    width: 12px;
}
.filter.opened .arrow-down {
    transform: rotate(180deg);
}
.data {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 4%;
}
.data>div {
    border-radius: 20px;
}
.data-list {
    width: 30%;
}
.data-table {
    width: 95%;
    background-color: var(--greyblue);
    margin: 0 auto 3%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: var(--sahdow)
}
.data-table-header {
    background-color: var(--main-color);
    display: flex;
    justify-content: flex-end;
    border-bottom: var(--border);
    border-width: 2px;
    padding: 1%;
}
.data-table-content {
    padding: 1% 3%;
}
span,label {
    color: var(--lightgreyblue);
    margin-right: 1%;
    font-weight: bold;
}
.data-add {
    width: 69%;
    overflow: hidden;
    background-color: var(--greyblue);
    box-shadow: var(--sahdow)
}
.add-header {
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--border);
    border-width: 3px;
}
.add-header .tabs {
    display: flex;
}
.tab {
    width: 100%;
    height: 100%;
    padding: 0 10%;
    background-color: var(--main-color);
    cursor: pointer;
    z-index: 0;
}
.tab.selected {
    filter: brightness(0.8);
}
.add-buttons {
    padding: 0 2%;
}
.data-add form {
    padding: 2%;
}
.form-row {
    display: flex;
    justify-content: space-between;
}
.form-field {
    /* width: 45%; */
    flex: 1;
    margin: 1% 0;
    padding: 1%;
}
.form-field input, .form-field textarea {
    width: 95%;
    height: 2rem;
    background-color: var(--white);
    color: var(--darkerblue);
    margin-top: 2%;
    padding: 1% 2%;
    border: none;
    border-bottom: var(--border);
    border-width: 5px;
    border-radius: 5px 5px 0 0;
    resize: vertical;
}
.form-field textarea {
    min-height: 5rem;
}
.form-field input[type="number"]::-webkit-outer-spin-button,
.form-field input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
}
.form-field input:focus, .form-field textarea:focus {
    border-color: var(--main-color);
}
/* Animaciones */
@keyframes shake {
    0% {
        transform: scale(1) rotate(0deg);
    }
    25% {
        transform: scale(1.1) rotate(20deg);
    }
    75% {
        transform: scale(1.1) rotate(-20deg);
    }
    100% {
        transform: scale(1.1) rotate(0deg);
    }
}

/*Media queries*/
@media (max-width: 756px) {
    .form-field {
        width: 100%;
    }
    .data-list {
        width: 49%;
    }
    .data-add {
        width: 49%;
    }
}