.data-list {
    width: 30%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1%;
    overflow: hidden;
    background-color: $grey-black;
    border-radius: 20px;
    box-shadow: $sahdow;
}
.data-list header {
    background-color: $primary-color;
    margin: 0;
    padding: 0.5%;
    display: flex;
    justify-content: space-between;
    padding: 2% 3% 1% 2%;
    align-items: center;
    border-bottom: $border;
    border-width: 3px;
}
.list-content {
    flex: 1;
    overflow-y: auto;
    width: 95%;
    margin: 0 auto;
    padding: 0 1%;
}
.data-table {
    width: 95%;
    background-color: $secondary-color;
    margin: 0 auto 3%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: $sahdow;
}
.data-table-header {
    background-color: $primary-color;
    display: flex;
    justify-content: flex-end;
    border-bottom: $border;
    border-width: 2px;
    padding: 1%;
}
.data-table-content {
    padding: 1% 3%;
}
.data-list footer {
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    padding: 2%;
    border-top: $border;
    border-width: 3px;
}
.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pagination svg {
    width: 15px;
}
.pagination button:hover {
    animation: none;
    filter: brightness(0.8);
}
.pagination button:disabled {
    font-weight: bold;
    filter: brightness(0.5);
}
.pagination .last-page {
    transform: scaleX(-1);
}
.pagination .current-page {
    border-bottom: $border;
    border-color: $tertiary-color;
}
@media (max-width: 756px) {
    .data-list {
        width: 49%;
    }
}