.filter {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
.filter-content {
    height: 0;
    background-color: $tertiary-color;
    border-inline: $border;
    border-width: 5px;
    transition: height 0.3s ease-in;
}
.filter.opened .filter-content {
    height: 80vh;
    transition: height 0.3s ease-in;
}
.filter button {
    width: 100%;
    background-color: $primary-color;
    filter: brightness(0.9);
    margin: 0;
    padding: 0.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    $radius: 20px;
    border-radius: 0 0px $radius $radius;
    border-bottom: $border;
    border-width: 3px;
    animation: none;
}
.filter .arrow-down {
    width: 12px;
}
.filter.opened .arrow-down {
    transform: rotate(180deg);
}