.login {
  height: 96vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-card {
  width: 50%;
  overflow-x: hidden;
  background-color: $secondary-color;
  border-radius: 1rem;
  box-shadow: $sahdow;
}
.login-header {
  padding: 1% 2%;
  background-color: $primary-color;
  border-bottom: $border;
  font-size: 1rem;
}
.login-form {
  padding: 2%;
}
.login-button {
  padding: 1%;
  background-color: $primary-color;
  border-radius: 0.5rem;
  box-shadow: $sahdow;
}
.form-row {
  margin-top: 5%;
}
.forgot-password:hover {
  color: $grey-white;
}
.login-button:hover {
  filter: brightness(1.1);
  transform: scale(1.1);
}