//Filter modal
.modal {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $modal-zindex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal.active {
    visibility: visible;
}
.modal-content {
    background-color: $secondary-color;
    min-width: 60%;
    border-radius: 20px;
    overflow: hidden;
    transform: scale(0);
    transition: transform 0.1s ease-out;
    h3 {
        background-color: $primary-color;
        margin: 0;
        padding: 1%;
        text-align: center;
    }
    form {
        padding: 2%;
    }
    .buttons {
        display: flex;
        justify-content: space-evenly;
        padding: 2% 0;
    }
    button {
        background-color: $tertiary-color;
        padding: 1% 5%;
        border-radius: 10px;
        &:hover {
            transform: scale(1.1);
            filter: brightness(1.1);
        }
    }
    .close {
        background-color: $red;
    }
}
.modal.active .modal-content {
    transform: scale(1);
}
// Delete modal
.delete {
    .modal-content {
        min-width: 20%;
        border-radius: 5px;
        h3 {
            padding: 3% 1%;
        }
    }
    .buttons {
        padding: 5% 0;
    }
}
.delete.modal button {
    width: 30%;
}