header {
    background-color: $primary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    border-bottom: $border;
    border-width: 3px;
}
body>header button:hover {
    animation: none;
}
header .logo {
    width: 50px;
    height: 50px;
}
.burger-button {
    position: relative;
    z-index: $burger-button-zindex;
}
.burger-icon {
    width: 40px;
    height: 40px;
    position: relative;
}
.burger-line {
    background-color: $white;
    width: 90%;
    height: 10%;
    border-radius: 50px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    transform-origin: center;
    animation: 0.3s ease-in forwards;
    animation-name: burger-open;
    animation-play-state: paused;
}
.burger-line:nth-child(1) {
    --start-y: 15%;
    --end-y: 50%;
    --start-rotation: 0deg;
    --end-rotation: 45deg;
}
.burger-line:nth-child(2) {
    --start-y: 50%;
    --end-y: 50%;
    --start-rotation: 0deg;
    --end-rotation: 45deg;
}
.burger-line:nth-child(3) {
    --start-y: 85%;
    --end-y: 50%;
    --start-rotation: 0deg;
    --end-rotation: -45deg;
}
.burger.opened .burger-line {
    animation-name: burger-open;
    animation-play-state: running;
}
.burger.closed .burger-line {
    animation-play-state: running;
    animation-name: burger-close;
}
@keyframes burger-open {
    0% {
        top: var(--start-y);
        transform: rotate(var(--start-rotation));
    }
    50% {
        top: var(--end-y);
        transform: rotate(var(--start-rotation));
    }
    100% {
        top: var(--end-y);
        transform: rotate(var(--end-rotation));
    }
}
@keyframes burger-close {
    0% {
        top: var(--end-y);
        transform: rotate(var(--end-rotation));
    }
    50% {
        top: var(--end-y);
        transform: rotate(var(--start-rotation));
    }
    100% {
        top: var(--start-y);
        transform: rotate(var(--start-rotation));
    }
}
.burger-menu {
    position: absolute;
    right: 0;
    top: 1%;
    bottom: 1%;
    width: 30%;
    background-color: $primary-color;
    filter: brightness(0.9);
    border: $border;
    border-width: 5px;
    border-right: none;
    border-radius: 50px 0 0  50px;
    overflow: hidden;
    z-index: $burger-menu-zindex;
    transition: transform 0.3s ease-in;
    transform: translateX(100%);
}
.burger-menu-header {
    height: 4em;
    background-color: $primary-color;
    filter: brightness(0.8);
    border-bottom: $border;
    border-width: 3px;
}
.burger.opened .burger-menu {
    transform: translateX(0);
}