//Colors
$primary-color: #991f18;
$secondary-color: #5e3751;
$tertiary-color: #969cac;
$grey-white: #bbc2d4;
$grey-black: #202737;
$black: #111727;
$white: #cbdbeb;
$red: #991f18;
$green: #229c22;
// Fonts
$font: Arial, "Helvetica Neue", Helvetica, sans-serif;
//Borders and shadows
$sahdow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
$border: 3px solid rgba(0, 0, 0, 0.2);
// Z-Index
$modal-zindex: 400;
$burger-menu-zindex: 200;
$burger-button-zindex: 300;